/* Mission Section Container */
.mission-section {
    background: white; /* Light gradient */
    padding: 60px 20px;
    text-align: center;
  }
  
  /* Section Heading */
  .mission-heading {
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #333;
  }
  
  
  /* Container for Boxes */
  .mission-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Individual Box Styles */
  .mission-box {
    flex: 1;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
  }
  
  /* Left Box */
  .mission-box-left {
    background: #1a1a1a;
    color: #ffffff;
  }
  
  .mission-box-left h3 {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }
  
  .mission-box-left p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .mission-button {
    background-color: #5b67f8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Right Box */
  .mission-box-right {
    background: white; /* Blue tint */
    text-align: center;
  }
  
.highlighted{
  color:#5b67f8;
}